
.Map{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.DayList{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  list-style-type: none;
  width: 10%;
  background-color: rgb(59, 47, 47);
  color: #61dafb;
  height: 100vh
}

.DayList:li{

}

.Wrapper{
  text-align: center;
  background-color: rgb(59, 47, 47)
}
